@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Montserrat";
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #fff;
  color: #333;
  box-shadow: 10px 0px 20px #000000;
  z-index: 5;
}

.welcome-text {
  /* font-style: Montserrat; */
  font-weight: 800;
  font-size: 1.5rem;
  margin: 5px;
  margin-right: 20px;
}

.brand-logo {
  height: 3rem;
}

.image-slider {
  display: flex;
  width: 100%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.slider-card {
  display: flex;
  position: relative;
  width: 300vw;
  height: 50vh;
  align-items: center;
  transition: transform 1s ease-in-out;
  /* animation: slide 15s infinite ease-in-out; */
}

.slide {
  position: relative;
  width: 100vw;
}

.slide-text {
  position: absolute;
  bottom: 45%;
  left: 100px;
  color: white;
  /* font-style: Montserrat; */
  font-weight: 800;
  font-size: 3.5rem;
  word-spacing: 1rem;
  text-shadow: black 1px 0 20px;
  padding: 10px;
  border-radius: 5px;
}

.slide-image {
  width: 100vw;
  object-fit: cover;
  flex-shrink: 0;
}

.arrow {
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5); /* Background color for the arrow */
  color: white;
  border: none;
  font-family: "Courier New", Courier, monospace;
  font-size: 3rem;
  font-weight: 600;
  cursor: pointer;
  padding: 10px;
  /* border-radius: 50%; */
  z-index: 1;
}

.left-arrow {
  left: 0px;
}

.right-arrow {
  right: 0px;
}

.dots {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 48%;
  background-color: #00000049;
  padding: 5px;
  border-radius: 20px;
}

.dot {
  height: 8px;
  width: 8px;
  margin: 0 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot.active {
  background-color: white;
}

.list-dots {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0%;
  background-color: #00000049;
  padding: 5px;
  border-radius: 20px;
}

.list-dot {
  height: 8px;
  width: 8px;
  margin: 0 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.list-dot.active {
  background-color: white;
}

.contact-section {
  display: flex;
  padding: 5vw;
  padding-top: 10px;
  justify-content: center;
  align-items: center;
}

.lets-talk {
  display: flex;
  font-size: 2.5vw;
  align-self: center;
  /* top: 20px !important; */
  margin-bottom: 10px;
}

.listings-container {
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 28vw;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

.listings-card {
  display: flex;
  position: relative;
  width: 90vw;
  height: 20vw;
  overflow: hidden;
  justify-content: flex-start;
  align-items: center;
  transition: transform 1s ease-in-out;
}

.listings-image-container {
  display: flex;
  position: relative;
  /* width:30vw; */
  height: inherit;
  transition: transform 1s ease-in-out;
}

.listings-image {
  position: relative;
  /* width: 30vw; */
  height: inherit;
  transition: transform 1s ease-in-out;
}

.listings-text {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: inherit;
  width: 30vw;
  /* font-weight: 600; */
  /* font-size: 1rem; */
  color: white;
  background-color: #1f516755;
  justify-content: center;
  align-items: center;
}

.listings-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* margin: 10px; */
}

.listings-row h2 {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 5px;
}

.listings-row p {
  font-size: 1.2rem;
  font-weight: 400;
  padding: 5px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 20vw;
  padding: 20px;
  padding-bottom: 40px;
  margin-left: 30px;
  margin-bottom: 0px;
  box-shadow: 0px 0px 20px #00000033;
  justify-content: center;
}

.contact-form label {
  display: block;
  margin: 10px 0 5px;
}

.contact-form input {
  width: 95%;
  padding: 10px;
  margin: 20px 10px;
  align-self: center;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.contact-form button {
  padding: 10px 20px;
  margin: 30px 10px;
  width: 200px;
  font-weight: 600;
  font-size: 1rem;
  background-color: #1ba3df;
  color: white;
  border: none;
  cursor: pointer;
  align-self: center;
}

.why-choose-us {
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
}

.why-choose-us-text-container {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to right, #1ba3df, #4cb863);
}

.why-choose-us h2 {
  font-weight: 800;
  font-size: 7rem;
  align-self: center;
  color: #ffffff55;
  margin: 0px !important;
}

.list {
  margin-top: 40px;
  margin-bottom: 100px;
  list-style-type: none;
  padding: 0;
  align-self: center;
}

.list-row {
  display: flex;
  flex-direction: row;
}

.tick {
  display: flex;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2rem;
  background-image: linear-gradient(to right, #1ba3df, #4cb863);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.list p {
  margin: 10px 10px;
}

/* @keyframes slide {
  0% {
    transform: translateX(0vw);
  }
  25% {
    transform: translateX(0vw);
  }
  30% {
    transform: translateX(-100vw);
  }
  55% {
    transform: translateX(-100vw);
  }
  60% {
    transform: translateX(-200vw);
  }
  85% {
    transform: translateX(-200vw);
  }
  90% {
    transform: translateX(0vw);
  }
  100% {
    transform: translateX(0vw);
  }
} */
