@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --listing-width: 30vw;
  --listing-width-more: 80vw;
  --listings-amount: 3;
}

* {
  font-family: "Montserrat";
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #fff;
  color: #333;
  box-shadow: 10px 0px 20px #000000;
  z-index: 5;
}

.welcome-text {
  font-weight: 800;
  font-size: 1.5rem;
  margin: 5px;
  margin-right: 20px;
}

.brand-logo {
  height: 3rem;
}

.image-slider {
  display: flex;
  position: relative;
  width: 100%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.slider-card {
  display: flex;
  position: relative;
  width: 300vw;
  align-items: center;
  transition: transform 0.5s ease-in-out;
}

.slide {
  position: relative;
  width: 100vw;
}

.slide-text {
  position: absolute;
  bottom: 45%;
  left: 100px;
  color: white;
  font-weight: 800;
  font-size: 3.5rem;
  word-spacing: 1rem;
  text-shadow: black 1px 0 20px;
  padding: 10px;
  border-radius: 5px;
}

.slide-image {
  width: 100vw;
  object-fit: cover;
  flex-shrink: 0;
}

.arrow {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5); /* Background color for the arrow */
  color: white;
  border: none;
  font-family: "Courier New", Courier, monospace;
  font-size: 3rem;
  font-weight: 600;
  cursor: pointer;
  padding: 10px;
  height: 200px;
  z-index: 1;
}

.left-arrow {
  left: 0px;
}

.right-arrow {
  right: 0px;
}

.dots {
  display: flex;
  justify-content: center;
  position: absolute;
  /* top: 75%; */
  bottom: 20px;
  background-color: #00000049;
  padding: 5px;
  border-radius: 20px;
  z-index: 3;
}

.dot {
  height: 8px;
  width: 8px;
  margin: 0 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot.active {
  background-color: white;
}

.list-dots {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 40px;
  background-color: #00000049;
  padding: 5px;
  border-radius: 20px;
}

.list-dot {
  height: 8px;
  width: 8px;
  margin: 0 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.list-dot.active {
  background-color: white;
}

.contact-section {
  display: flex;
  padding: 5vw;
  padding-top: 5vh;
  justify-content: center;
  align-items: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 30vw;
  min-width: 450px;
  height: 450px;
  padding: 20px;
  padding-bottom: 40px;
  margin-left: 30px;
  margin-bottom: 0px;
  box-shadow: 0px 0px 20px #00000033;
  justify-content: center;
}

.contact-form label {
  display: block;
  margin: 10px 0px 0px 12px;
}

.contact-row,
.contact-form select,
.input-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 3px;
  /* padding-top: 0px; */
  /* padding-bottom: 0px; */
}

#countryCodes {
  width: 30%;
}

.contact-form input {
  width: 95%;
  padding: 10px;
  margin: 10px 10px;
  align-self: center;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
.contact-form select {
  width: 95%;
  padding: 10px;
  margin: 10px 10px;
  align-self: center;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.contact-form button {
  padding: 10px 20px;
  margin: 20px 10px;
  width: 200px;
  font-weight: 600;
  font-size: 1rem;
  background-color: #1ba3df;
  color: white;
  border: none;
  cursor: pointer;
  align-self: center;
}

.lets-talk {
  display: flex;
  font-size: 2.5rem;
  align-self: center;
  /* top: 20px !important; */
  margin-bottom: 10px;
}

.listings-container {
  display: flex;
  flex-direction: column;
  width: var(--listing-width);
  min-width: 300px;
  max-width: 700px;
  height: 500px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

.listings-container h2 {
  text-align: center;
}

.listings-card {
  display: flex;
  position: relative;
  width: calc(var(--listing-width) * var(--listings-amount));
  min-width: 300px;
  height: 400px;
  overflow: hidden;
  justify-content: flex-start;
  align-items: center;
  transition: transform 1s ease-in-out;
  background-color: #00000033;
}

.listings-image-container {
  display: flex;
  position: relative;
  height: inherit;
  transition: transform 1s ease-in-out;
}

.listings-image {
  position: relative;
  width: var(--listing-width);
  min-width: 300px;
  height: inherit;
  transition: transform 1s ease-in-out;
}

.listings-text {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: inherit;
  width: var(--listing-width);
  /* font-weight: 600; */
  /* font-size: 1rem; */
  color: white;
  /* background-color: #1f516755; */
  background: linear-gradient(
    180deg,
    rgba(31, 81, 103, 0.4) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
  justify-content: center;
  align-items: center;
}

.listings-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.listings-row h2 {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 5px;
}

.listings-row p {
  font-size: 1.2rem;
  font-weight: 400;
  padding: 5px;
}

.why-choose-us {
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
}

.why-choose-us-text-container {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to right, #1ba3df, #4cb863);
}

.why-choose-us h2 {
  font-weight: 800;
  font-size: 5vw;
  align-self: center;
  color: #ffffff55;
  margin: 0px !important;
}

.list {
  margin-top: 40px;
  margin-bottom: 100px;
  list-style-type: none;
  padding: 0;
  align-self: center;
}

.list-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
}

.tick {
  display: flex;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2rem;
  background-image: linear-gradient(to right, #1ba3df, #4cb863);
  width: 24px !important;
  height: 24px !important;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.list p {
  margin: 10px 10px;
}

@media screen and (max-width: 1270px) {
  .contact-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .listings-container {
    margin: 10px 0px;
    margin-top: -30px;
    width: 60vw;
    min-width: 450px;
    justify-content: center;
  }
  .listings-card {
    width: calc(var(--listing-width-more) * var(--listings-amount)) !important;
    min-width: 0px;
  }
  .listings-image-container {
    width: var(--listing-width-more);
  }
  .listings-image,
  .listings-text {
    width: var(--listing-width-more) !important;
    min-width: 0px;
  }
  .contact-form {
    margin: 10px 0px;
    width: 50vw;
    height: auto;
  }
  .why-choose-us h2 {
    font-size: 6vw;
  }
}

@media screen and (max-width: 1040px) {
  .slide-image {
    width: 100vw;
  }
  .arrow {
    font-size: 2rem;
    height: 7vh;
  }
  .why-choose-us h2 {
    font-size: 3rem;
    text-align: center;
  }
}

@media screen and (max-width: 530px) {
  .slide-image {
    height: 25vh;
    width: auto;
  }
  .welcome-text {
    font-size: 1.2rem;
  }
  .brand-logo {
    height: 2.5rem;
  }
  /* .slider-card { */
  /*   height: 20vh; */
  /* } */
  .arrow {
    font-size: 1.3rem;
  }

  .listings-container {
    min-width: 300px;
  }

  .listings-row h2,
  .listings-row p {
    font-size: 0.9rem;
    padding: 1px;
  }
  .contact-form {
    width: 75vw;
    min-width: 300px;
  }

  .input-row,
  .contact-row {
    flex-direction: column;
  }
  #countryCodes {
    width: auto;
  }
}
